.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  min-width: 100px;
  padding: 16px 32px;
  border: none;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}
.modal-wrapper {
  background: #55c5c1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 1s ease;
}
.modal-wrapper .fullscreen {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  position: relative;
}
.modal {
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 800px;
  height: auto;
  /* min-height: 100%; */
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: black;
}

.modal-header,
.modal-footer {
  color: rgba(255, 255, 255, 0.714);
  color: black;
  text-decoration: none;
  border: none;
  padding: 1rem;
}
@media only screen and (max-width: 360px) {
  .modal-header {
    margin-top: 180px;
  }
  .form {
    width: 100%;
  }
}
.modal-title {
  margin: 70;
  color: white;
}
/**Modal body**/
.modal-body {
  text-decoration: none;
  border: none;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.modal-body h4 {
  font-size: 20px;
  color: #f89f64;
}
.modal-body p {
  color: white;
  font-size: 1rem;
}
.modal-body-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 70%;
  border: 1px solid #c99;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px #000;
  background-color: rgba(116, 93, 93, 0.1);
  color: white;
  font-size: 1rem;
}
/**Modal Fotter**/
.buttonClose {
  width: 128px;
  height: 48px;
  display: flex;
  color: white;
  font-size: 19px;
  margin-left: 16px;
  font-weight: bold;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: #084c61;
}
.buttonClose:hover {
  background-color: #55c5c1;
}
.close-modal-btn {
  cursor: pointer;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(210, 164, 164);
  border-radius: 3px;
  box-sizing: border-box;
}
/*animation modal*/

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 60px, 0);
    background-color: rgba(116, 93, 93, 0.1);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    background-color: #c6e7ef;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 1;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}
