.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  min-width: 100px;
  padding: 16px 32px;
  border: none;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
/* .modal-wrapper .fullscreen {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  position: relative;
} */
.modal-modify {
  width: 100%;
  height: 100%;
  padding: 50px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 70% !important;
  height: auto;
  /* min-height: 100%; */
  border-radius: 10px;
  color: black;
}

.modal-header,
.modal-footer {
  display: flex;
  color: rgba(255, 255, 255, 0.714);
  color: black;
  text-decoration: none;
  border: none;
  padding: 1rem;
}
.modal-header {
  justify-content: space-between;
}

.modal-footer {
  justify-content: flex-end;
}
@media only screen and (max-width: 377px) {
  .modal-content {
    margin-bottom: 70px;
  }
  .modal-header {
    margin-top: 20px;
    padding: 0;
  }
  .modal-title {
    font-size: 10px;
    color: white;
  }
  .form {
    margin: 0;
    padding: 0;
  }
  .modal-footer {
    padding: 0;
  }
  .modal-body {
    padding: 0px;
  }
  .buttonClose {
    width: 70px;
    height: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
.modal-title {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
/**Modal body**/
.modal-body {
  text-decoration: none;
  border: none;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.modal-body h4 {
  font-size: 20px;
  color: #f89f64;
}
.modal-body p {
  margin: 10px;
  color: black;
  font-size: 1rem;
}
.modal-body-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  margin-top: 50px;
  text-align: center;
}
.form {
  width: 50%;
  border: 1px solid #c99;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px #000;
  background-color: rgba(116, 93, 93, 0.1);
  color: black;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
/**Modal Fotter**/
.buttonClose {
  width: 125px;
  height: 40px;
  display: flex;
  color: white;
  font-size: 19px;
  margin-left: 16px;
  font-weight: bold;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: #198754;
}
.buttonClose:hover {
  background-color: #73700dc7;
}
.close-modal-btn {
  cursor: pointer;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(210, 164, 164);
  border-radius: 3px;
  box-sizing: border-box;
}
/*animation modal*/

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 60px, 0);
    background-color: rgba(116, 93, 93, 0.1);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 1;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}
